body {
  background: rgb(231, 230, 230);
  padding:0px;
  margin:0px;
}

.withmargin {
  margin: 15px 15px;
}

.taskbar {
  width: 3%;
  height:100vh;
  background: rgb(255, 81, 0);
  float:left;
  text-align:center;
}

.topbar {
  width:97vw;
  height:7vh;
  background: white;
  float:right;
  text-align: right;
}

.dashboard {
  width: 40vw;
  height:auto;
  float:left;
  text-align: left;
  color: rgb(75, 75, 75);
}

.midbody {
  width:97vw;
  height:86vh;
  background: rgb(229, 228, 228);
  float:right;
}

.bottombar {
  width:97vw;
  height:7vh;
  background: white;
  float:right;
}

.addfloors {
  width: 20vw;
  height: 70vh;
  background: white;
  margin: 1vw 2vw;
  float:left;

  overflow-y:scroll;

  box-shadow: 10px 8px 5px lightgrey;

}

.adjustfloor {
  width: 70vw;
  height: 70vh;
  background: white;
  margin: 1vw 0vw;
  float:left;

  box-shadow: 10px 8px 5px lightgrey;

}

.imgfloor {
  width: 45vw;
  height: 55vh;
  float:left;
}

.floor {
  margin-left: 2vw;
  height: 45vh;
  border: 2px solid lightgrey;
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.file-upload {
  text-align: center;
  padding: 3px;
  position: relative;
  cursor: pointer;
}

.file-upload p {
  color: #f97b2d;
}
.file-upload input {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor:pointer;
}

.floordetails {
  width: 20vw;
  height: 50vh;
  border: none;
  margin: 3vw 4vh;
  float: left;
}

.copyright {
  width:20vw;
  height:auto;
  float:left;
}

.about {
  width: auto;
  height:auto;
  float:right;
  text-align:right;
}

input[type="text"] {
  width: 16vw;
  height: auto;
  border: 2px solid rgb(223, 218, 218);
  border-radius: 8px;
}

select {
  width:17vw;
  height:auto;
  border: 2px solid rgb(223, 218, 218);
  border-radius: 8px;
  cursor:pointer;
}

button {
  background-color:rgb(255, 81, 0);
  border: none;
  border-radius:5px;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor:pointer;
}

.edit {
  display:block;
  float:left;
}